<?xml version="1.0"?>

<launch>
  <arg name="fake_robot" default="false"
         doc="When set to true, assume a fake robot for visualization in rviz,
              disabling hardware interface."/>

  <!-- Parameters for the hardware interface and controllers -->
  <rosparam file="$(find dynamixel_control)/config/safe_speed.yaml"/>

  <!-- URDF robot description -->
  <param name="robot_description"
         command="cat $(find dynamixel_control)/urdf/sample.urdf" />
  <!-- Publish robot's state in the tf tree -->
  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="rob_state_pub" />

  <!-- To move the dummy robot with a gui, bypassing the controller manager -->
  <node if="$(arg fake_robot)" pkg="joint_state_publisher"
        type="joint_state_publisher" name="dummy_robot" />

  <!-- launch our hardware interface -->
  <group unless="$(arg fake_robot)">
    <arg name="protocol_version" default="v1"
         doc="Choses the dynamixel protocol variant to be used (v1 or v2)"/>
    <node pkg="dynamixel_control"
          type="dynamixel_control_$(arg protocol_version)"
          name="dynamixel_control" output="screen" clear_params="true"
          required="true"/>

    <!-- Start a controller for our dummy robot -->
    <node name="controller" pkg="controller_manager" type="spawner"
          respawn="false" output="screen" clear_params="true"
          args="/dynamixel_controllers/joint_state_controller
                /dynamixel_controllers/velocity_controller" />
  </group>
</launch>
